

#movie1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
}

#movie1 h1 {
  font-size: x-large;
  font-weight: bolder;
  color: black;
}

#movie1 img {
  box-shadow: black 3px 2px 5px;
  width: 200px;
  height: 300px;
}

#ip1{

  margin-left: 40vw;
  width: 200px;
  height: 30px;
}

#ip1:focus{

  background-color: yellow;
  color: black;
}

#search{

  margin-left: 42.5vw;
  width: 150px;
  height: 29px;
  background-color: black;
  color: yellow;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#search:hover{

  background-color: white;
  color: black;
  transition-timing-function: linear;
  transition-duration: .2s;
}
